body
{
    margin: 0px;
    background-color: blanchedalmond;
    font-family: "Montserrat", sans-serif;
}

/*---------------------------------------------------------------
Overlay 
-----------------------------------------------------------------*/
.overlay
{
    display: none;
    z-index: 10;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=50);
    -moz-opacity:0.5; 
	-khtml-opacity: 0.5; 
	opacity: 0.5;
    background-color: black;
    position: fixed;
}

/*---------------------------------------------------------------
Dialog boxes 
-----------------------------------------------------------------*/
.dialog
{
    display: none;
    z-index: 20;
    width: 28vw;
    min-width: 480px;
    height: 67vh;
    min-height: 640px;

    margin: auto;
    padding: 2em;
    top: 0; left: 0; bottom: 0; right: 0;
    position: fixed;

    background-color: white;
    border-radius: 2em;
    box-shadow: 0 0 2em black;

    animation-name: zoom;
    animation-duration: 0.5s;
}
@keyframes zoom
{
    from { transform: scale(0) }
    to { transform: scale(1) }
}
.dialog > #dialog-content
{
    overflow-wrap: break-word; 
    overflow-y: auto;
    max-height: 62vh;
    min-height: 600px;
    font-family: "Nunito Sans", sans-serif;
}
.dialog > #dialog-content > #intro-header
{
    min-height: 15em;
    padding-bottom: 1em;
    border-bottom: 1px solid black;
}
.dialog > #dialog-content > #intro-header > img
{
    height: 15em;
    width: auto;
    border-radius: 50%;
    float: left;
    margin-right: 1em; margin-bottom: 1em;
}
.dialog > #dialog-content > #intro-header > name
{
    font-size: 1.5em;
    font-weight: 900;
    text-decoration: underline;
}
.dialog > #dialog-content > #intro-header > #about
{
    clear: right;
    padding-top: 1em; padding-bottom: 1em;
    color: #5C5C5C;
}
.dialog > #dialog-content > #description > p { font-weight: 900; font-size: 1.5em; }
.dialog > #dialog-content > #description > ul { color: #5C5C5C; }
.dialog > button
{
    display: block;
    margin:10px auto 0;
    padding: 1em;
    background-color: #E93939;
    color: white;
    border: none;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}
@media only screen
and (max-device-width: 980px)
{
    .dialog { width: 720px; height: 1000px; }
    .dialog > #dialog-content { height: 900px; }
    .dialog > #dialog-content > #intro-header > name { font-size: 3em; }
    .dialog > #dialog-content > #intro-header > #about { font-size: 2em; }
    .dialog > #dialog-content > #description > p { font-size: 3em; }
    .dialog > #dialog-content > #description > ul { font-size: 2em; }
    .dialog > button { font-size: 2em; }
}

/*---------------------------------------------------------------
Main body 
-----------------------------------------------------------------*/
.mainbody
{
    display: grid;
    grid-template-columns: minmax(720px, 100%);
    grid-template-rows: minmax(25em, auto) auto minmax(5vh, 3em);
    width: 100%;
    min-width: 720px;
    height: 100%;
}
@media only screen
and (max-device-width: 980px)
{
    .mainbody
    {
        grid-template-rows: auto auto minmax(5vh, 3em);
    }
}

/*---------------------------------------------------------------
Division 1 - Title 
-----------------------------------------------------------------*/
.title
{
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;

    background-image: url("../resources/exec/title-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    padding: 1em;
}
.title > #heading
{
    font-size: 4em;
    font-weight: 900;
    color: #E5D3B7;
    -webkit-text-stroke: 0.05em black;
}
@media only screen
and (max-device-width: 980px)
{
    .title
    {
        font-size: 2em;
    }
    .title > #heading
    {
        font-size: 4em;
    }
}

/*---------------------------------------------------------------
Division 2 - Info 
-----------------------------------------------------------------*/
.info
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    grid-auto-rows: minmax(20em, auto);
    grid-gap: 1em;

    padding: 2em;
    background-color: #D89C3D;
}
.info > .member
{
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.5em;
}
.info > .member > img
{
    height: 13em;
    width: auto;
    border-radius: 50%;
    cursor: pointer;
}
.info > .member > position
{
    font-size: 1.25em;
    font-weight: 900;
}
.info > .member > name
{
    color: #EDDFC9;
    text-shadow: 0 0 0.2em black;
}
@media only screen
and (max-device-width: 980px)
{
    .info > .member
    {
        line-height: 3em;
    }
    .info > .member > position
    {
        font-size: 2.5em;
    }
    .info > .member > name
    {
        font-size: 2em;
        text-shadow: 0 0 0.4em black;
    }
}

/*---------------------------------------------------------------
Division 3 - Ownership and Creator 
-----------------------------------------------------------------*/
.ownership
{
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
    padding: 5px;

    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-size: 1em;
}
.ownership img {height: 80%; width: auto;}
.ownership button
{
    border: 0;
    background: none;
    box-shadow: none;
    cursor: pointer;
    height: 3em;
    min-height: 5vh;
    width: 6vh;
}
@media only screen
and (max-device-width: 980px) 
{
    .ownership button {display: none;}    
}