/*---------------------------------------------------------------
navigation header bar
-----------------------------------------------------------------*/
.mobile-nav {display: none;}
.navbar
{
    display: grid;
    grid-template-columns: 67px repeat(8, 1fr);
    overflow: auto;
    background: #333;
    color: white;
    font-family: "Montserrat", sans-serif;
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
    min-width: 720px;
    padding-top: 14px;
    padding-bottom: 16px;
}
.navbar a grid-item
{
    color: white;
    float: left;
    display: block;
    text-align: center;
    /*padding: 14px 16px;*/
    text-decoration: none;
}
.navbar a grid-item:hover {color: gray;}        
.navbar grid-item img
{
    background-color: blanchedalmond;
    min-width: 67px;
    max-height: 100%;
    height: 100%;
    width: 67px;
}
#image {margin-top: -14px; margin-bottom: -16px;}
.navbar a
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    text-decoration: none;
}
.navbar a:not(:last-of-type) {border-right: 1px solid #fff;}

@media only screen 
and (max-device-width: 980px)
{
    .mobile-nav
    {
        display: flex;
        width: 100%;
        height: 7vh;
        position: fixed;
        vertical-align: middle;
        top: 0;
        background-color: #333;
        z-index: 3;
    }
    .nav-trig
    {
        background: none;
        border: none;
        display: inline-block;
        cursor: pointer;
    }
    .bar1, .bar2, .bar3 {
        width: 5vh;
        height: 0.7vh;
        background-color: white;
        margin: 0.86vh 0.86vh;
        transition: 0.4s;
    }
    
    /* Rotate first bar */
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-1.3vh, 0.86vh) ;
        transform: rotate(-45deg) translate(-1.3vh, 0.86vh) ;
    }
    
    /* Fade out the second bar */
    .change .bar2 {
        opacity: 0;
    }
    
    /* Rotate last bar */
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-1.14vh, -1.14vh) ;
        transform: rotate(45deg) translate(-1.14vh, -1.14vh) ;
    }
    .navbar #image {display: none;}
    .navbar
    {
        display: none;
        grid-template-rows: repeat(8, 1fr);
        grid-template-columns: 100%;
        overflow: auto;
        background-color: #767676;
        color: white;
        position: fixed;
        z-index: 5;
        padding: 0 0;
        margin-top: 7vh;
        left: -40%;
        width: 40%;
        height: 93vh;
    }
    .navbar a {font-size: 250%; margin: 0;}
    .navbar a:not(:last-of-type) {border-right: none; border-bottom: 1px solid white;}
    .navbar a grid-item:hover {color: #333;}
}