body
{
    margin: 0;
    background-color: blanchedalmond;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

/*---------------------------------------------------------------
Main body 
-----------------------------------------------------------------*/
.mainbody
{
    display: grid;
    grid-template-columns: minmax(720px, 100%);
    grid-template-rows: max-content max-content minmax(5vh, 3em);
    width: 100%;
    min-width: 720px;
    height: 100%;
}
@media only screen
and (max-device-width: 980px)
{
    .mainbody { grid-template-rows: auto auto minmax(5vh, 3em); }
}

/*---------------------------------------------------------------
Division 1 - Title
-----------------------------------------------------------------*/
.title
{
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;

    background-image: url("../resources/shifts/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding: 1em;
}
.title > #heading
{
    font-size: 4em;
    font-weight: 900;
    color: #E5D3B7;
    -webkit-text-stroke: 0.05em black;
}
@media only screen
and (max-device-width: 980px)
{
    .title { font-size: 2em; }
}

/*---------------------------------------------------------------
Division 2 - Info
-----------------------------------------------------------------*/
.info
{
    background-color: #D89C3D;
}
#accordion > h3
{
    font-size: 1.5em;
}
.image-grid
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 169px;
    grid-gap: 10px;
    grid-auto-flow: dense;
}
.tall {grid-row-end: span 2;}
.big {grid-column-end: span 2; grid-row-end: span 2;}
.image-grid > div > img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
@media only screen
and (max-device-width: 980px)
{
    #accordion > h3 {font-size: 2.5em;}
    #accordion > h3 > span {height: 1em; width: 1em;}
}

/*---------------------------------------------------------------
Division 3 - Ownership and Creator 
-----------------------------------------------------------------*/
.ownership
{
    display: flex;
    justify-content: space-between;
    padding: 5px;

    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-size: 1em;
}
.ownership img {height: 80%; width: auto;}
.ownership button
{
    border: 0;
    background: none;
    box-shadow: none;
    cursor: pointer;
    height: 3em;
    min-height: 5vh;
    width: 3em;
    min-width: 5vh;
}
@media only screen
and (max-device-width: 980px) 
{
    .ownership button {display: none;}    
}