body
{
    background-color: blanchedalmond;
    /*background-image: url("Stephenson.png"), url("Stephenson.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 50px, 96.25vw;
    background-position-x: center, center;
    background-attachment: fixed, fixed;*/
    margin: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    
}

iframe
{
    height: 60vh;
    max-height: 60vh;
    width: 54vw;
    max-width: 54vw;
}

#div1
{
    background-image: url("Stephenson.png");
}

#div3
{
    background-image: url("img.jpg");
}

#div1, #div3
{
    position: relative;
    display: flex;
    color: #E5D3B7;
    align-items: center;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    font-weight: 900;
    font-size: 2.5vw;
    -webkit-text-stroke-width: 0.15vw;
    -webkit-text-stroke-color: black;
}

#heading
{
    font-weight: 900;
    font-size: 5vw;
}

.div2
{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 3%;
}

.infoImg
{
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
}

.info {display: flex; height: 60vh; overflow: auto; vertical-align: middle;}
.info div { width: 100%; margin: auto; margin-right: 3em;}

.infoImg img
{
    max-width: 90%;
    width: auto;
    max-height: 90%;
    height: auto;
}

.div2, .div4
{
    background-color: #D89C3D;
}

.div4
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 3fr;
    grid-gap: 1%;
    overflow: auto;
}

.contact
{
    grid-column-end: span 2;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 100%;
    margin: auto;
}

.contact h1 {font-weight: 900; font-size: 4em; font-size-adjust: 2em;}

.message
{
    display: flex;
    justify-content: right;
    vertical-align: middle;
    margin: auto;
    margin-left: 0px;
    margin-top: 0px;
}

.message span {float: center;}

.div5
{
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
    margin-left: 5px;

    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-size: 1.5vh;
}

.div5 img
{
    height: 80%;
    width: auto;
}

.div5 button
{
    border: 0;
    background: none;
    box-shadow: none;
}

.navbar
{
    /*height: 30px;*/
    overflow: hidden;
    background-color: #333;
    color: white;
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
}

.navbar grid-item a
{
    color: white;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar grid-item a:hover
{
    color: gray;
}

.navbar grid-item img
{
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 67px;
}

.grid1
{
    margin-top: 46px;
    z-index: 2;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 102vh 60vh 102vh 60vh 5vh;
    grid-gap: 0px;
}

.navbar
{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.navbar grid-item
{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 5px;
}

form div {display: table;}
form div p {display: table-row;}
form div p input 
{
    display: table-cell; 
    width: 100%;
    height: 2.3em; 
    font-family: "Nunito Sans", sans-serif; 
    margin-bottom: 0.3em;
    padding: 0.65em;
    border: none;
}
#submitButt 
{
    float: right; 
    background-color: white;
    color: #D89C3D; 
    font-family: 'Montserrat', sans-serif; 
    border: none; 
    border-radius: 0.5em;
    padding: 0.75em;
}

.address
{
    text-align: center; 
    margin: auto;
    margin-top: 0px;
    margin-right: 0px;
}

.address span {float: center;}

.address img
{
    width: 10%;
    min-width: 5em;
    height: auto;
}

.address h1 {font-weight: 900;}

textarea
{
    height: 15vh;
    min-height: 10em; 
    width: 25vw;
    min-width: 20em;
    font-family: "Nunito Sans", sans-serif;
    border: none;
    margin-bottom: 0.5em;
    padding: 0.65em;
}

::-webkit-input-placeholder {color: #D89C3D;}
:-moz-placeholder {color: #D89C3D;}
::-moz-placeholder {color: #D89C3D;}
:-ms-input-placeholder {color: #D89C3D;}
